# Python
*.pyc

# PyCharm
.idea/

# setup.py
.eggs/
*.egg-info/
dist/
build/
pip-wheel-metadata/
__version__.py

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# tox
.tox/

# hypothesis
.hypothesis/

# coverage
.coverage
coverage/
